<h1 class="text-3xl text-white text-center">Realizado Por Andres Felipe Muñoz Acevedo Ficha 370321</h1>
<h5 class="text-2xl text-white text-center mt-8">Calcular Area Del Triangulo (Metros)</h5>
<div class="md:flex gap-3 mt-4 p-4">
  <form class="md:w-3/4" [formGroup]="formTriangulo" (submit)="calcularTriangulo()">
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese la Altura</label>
      <input type="text" formControlName="altura"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="145" required />
      @if (formTriangulo.get('altura')?.invalid && formTriangulo.get('altura')?.touched) {
        <span class="text-red-500">Debe ingresar numeros mayor o igual a 1.</span>
      }
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese la Base</label>
      <input type="text" placeholder="34" formControlName="base" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
      @if (formTriangulo.get('base')?.invalid && formTriangulo.get('base')?.touched) {
        <span class="text-red-500">Debe ingresar numeros mayor o igual a 1.</span>
      }
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Calcular</button>
    @if (viewMessageT) {
      <span class="text-red-500">Campos Vacios.</span>
    }
  </form>
  <figure class="grid place-content-center md:block mt-3 md:mt-0">
    <img src="./triangulo.png" alt="" class="rounded-xl min-w-56">
  </figure>
</div>
<h5 class="text-2xl text-center text-white mb-8">{{resultT}} </h5>
<hr>
<h5 class="text-2xl text-white text-center mt-8">Calcular El Volumen De un Prisma Rectangular (Metros)</h5>
<div class="md:flex gap-3 mt-4 p-4">
  <form class="md:w-3/4" [formGroup]="formPrisma" (submit)="calcularPrisma()">
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese la Altura</label>
      <input type="text" formControlName="altura" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="12" required />
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese el Ancho</label>
      <input type="text" placeholder="34" formControlName="ancho" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    </div>
    <div class="mb-5">
      <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese el Largo</label>
      <input type="text" placeholder="347" formControlName="largo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Calcular</button>
  </form>
  <figure class="grid place-content-center md:block mt-3 md:mt-0">
    <img src="./prisma.jpeg" alt="" class="rounded-xl min-w-56">
  </figure>
</div>
<h5 class="text-2xl text-center text-white mb-8">{{resultP}} </h5>

<router-outlet />
